.Card {
    height: 200px;
    width: 150px;
    border: 1px solid black;
    background: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
}

.CardHover:hover {
    transform: scale(1.1);
}

.CardHover {
    transition: all .2s ease-in-out;
}

.InCombat {
    background: red;
}

.Card > div {
    flex: 1;
}

.MonsterStatsContainer {
    display: flex;
}

.MonsterStatsContainer > div {
    flex: 1;
    padding: 5px;
}