.Card {
    height: 200px;
    width: 150px;
    border: 1px solid black;
    border-radius: 10px;
    background: white;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.CardHover:hover {
    transform: scale(1.1);
}

.CardHover {
    transition: all .2s ease-in-out;
}

.Card > div {
    flex: 1;
}