.DeckContainer,
.ActiveCards {
    display: flex;
}

.Deck {
    height: 200px;
    width: 150px;
    border: 1px solid black;
    background: black;
    text-align: center;
    color: red;
}

.DiscardPile {
    margin-left: 20px;
}