.DeckContainer,
.ActiveCards {
    display: flex;
}

.Deck {
    height: 200px;
    width: 150px;
    border: 1px solid black;
    background: #AC7528;
    text-align: center;
    box-shadow: inset 0px 0px 0px 5px #F0C162;
}