.App {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "GameTitleContainer GameTitleContainer GameTitleContainer GameTitleContainer"
    "TreasureDeckContainer TreasureDeckContainer MonsterDeckContainer MonsterDeckContainer"
    "ItemContainer ItemContainer LootDeckContainer LootDeckContainer"
    "PlayerStatsContainer HandContainer HandContainer EndTurnContainer";
}

.GameTitleContainer {
  grid-area: GameTitleContainer;
}

.TreasureDeckContainer {
  grid-area: TreasureDeckContainer;
}

.MonsterDeckContainer {
  grid-area: MonsterDeckContainer;
  align-items: center;
}

.ItemContainer {
  grid-area: ItemContainer;
  display: flex;
}

.LootDeckContainer {
  grid-area: LootDeckContainer;
}

.PlayerStatsContainer {
  grid-area: PlayerStatsContainer;
}

.HandContainer {
  grid-area: HandContainer;
}

.EndTurnContainer {
  grid-area: EndTurnContainer;
}