.App {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "GameTitleContainer GameTitleContainer GameTitleContainer GameTitleContainer"
    "TreasureDeckContainer TreasureDeckContainer MonsterDeckContainer MonsterDeckContainer"
    "ItemContainer ItemContainer LootDeckContainer LootDeckContainer"
    "PlayerStatsContainer HandContainer HandContainer EndTurnContainer";
}

.GameTitleContainer {
  grid-area: GameTitleContainer;
}

.TreasureDeckContainer {
  grid-area: TreasureDeckContainer;
}

.MonsterDeckContainer {
  grid-area: MonsterDeckContainer;
  align-items: center;
}

.ItemContainer {
  grid-area: ItemContainer;
  display: flex;
}

.LootDeckContainer {
  grid-area: LootDeckContainer;
}

.PlayerStatsContainer {
  grid-area: PlayerStatsContainer;
}

.HandContainer {
  grid-area: HandContainer;
}

.EndTurnContainer {
  grid-area: EndTurnContainer;
}

.Overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}

.OverlayText {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.NewGameButton {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.NewGameButton:hover,
.NewGameButton:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.NewGameButton:hover {
  transform: translateY(-1px);
}

.NewGameButton:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}